services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      appnet:
        aliases:
          - postgres

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moodapp
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      appnet:
        aliases:
          - moodapp

volumes:
  pgdata:

networks:
  appnet:
    driver: bridge
