apiVersion: apps/v1
kind: Deployment
metadata:
  name: kong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kong
  template:
    metadata:
      labels:
        app: kong
    spec:
      containers:
        - name: kong
          image: kong:3.6
          ports:
            - containerPort: 6060   # proxy
            - containerPort: 6061   # admin
          env:
            - name: KONG_DATABASE
              value: "off"

            - name: KONG_DECLARATIVE_CONFIG
              value: /kong/kong.yml

            - name: KONG_PROXY_LISTEN
              value: 0.0.0.0:6060

            - name: KONG_ADMIN_LISTEN
              value: 0.0.0.0:6061

          volumeMounts:
            - name: kong-config
              mountPath: /kong

      volumes:
        - name: kong-config
          configMap:
            name: kong-config
